.main-title {
  animation: color-animate 10s infinite linear;
  background-clip: text;
  background-image: linear-gradient(90.72deg, #76dbfd -5.18%, #1896cd 105.24%);
  font-family: "Montserrat", sans-serif;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes color-animate {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
